@model FlightManagerWeb.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
                <label asp-for="LocationFrom" class="control-label"></label>
                <input asp-for="LocationFrom" class="form-control" />
                <span asp-validation-for="LocationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationTo" class="control-label"></label>
                <input asp-for="LocationTo" class="form-control" />
                <span asp-validation-for="LocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTimeAndDate" class="control-label"></label>
                <input asp-for="DepartureTimeAndDate" class="form-control" />
                <span asp-validation-for="DepartureTimeAndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTimeAndDate" class="control-label"></label>
                <input asp-for="ArrivalTimeAndDate" class="form-control" />
                <span asp-validation-for="ArrivalTimeAndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneType" class="control-label"></label>
                <input asp-for="PlaneType" class="form-control" />
                <span asp-validation-for="PlaneType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneNumber" class="control-label"></label>
                <input asp-for="PlaneNumber" class="form-control" />
                <span asp-validation-for="PlaneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotName" class="control-label"></label>
                <input asp-for="PilotName" class="form-control" />
                <span asp-validation-for="PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacityBusinessClass" class="control-label"></label>
                <input asp-for="CapacityBusinessClass" class="form-control" />
                <span asp-validation-for="CapacityBusinessClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneCapacity" class="control-label"></label>
                <input asp-for="PlaneCapacity" class="form-control" />
                <span asp-validation-for="PlaneCapacity" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <environment include="Development">
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
        asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator" crossorigin="anonymous"
        integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
        </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
        asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
        crossorigin="anonymous" integrity="sha384-R3vNCHsZ+A2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R+93YzTeZRah7f/F">
        </script>
</environment>
}
